/* App.css */

.App-header {
  background-color: #ffffff; 
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.navbar {
  display: flex;
  gap: 1em;
}

.nav-link {
  color: #333; /* Cor do texto escura */
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em;
}

.nav-link:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}
