body {
    font-family: Arial, sans-serif;
  }
  
  .historico-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .historico-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .simulacao-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff1a1a;
  }
  