/* Estilo geral do container */
.historico-container {
  padding: 20px;
}

/* Estilo da lista de histórico */
.historico-list {
  display: flex;
  flex-direction: column;
}

/* Estilo para cada tipo de simulação */
.simulacoes-tipo {
  margin-bottom: 40px;
}

.simulacoes-tipo h2 {
  margin-bottom: 20px;
}

/* Estilo da grade de cards */
.simulacoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Estilo dos cards */
.simulacao-card {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.simulacao-card h3 {
  margin-top: 0;
}

.simulacao-card p {
  margin: 5px 0;
}

.open-simulacao-link {
  display: inline-block;
  margin: 10px 10px 0px 0px;
  border-radius:5px;
  color: #ffffff;
  background-color: rgb(5, 109, 5);
  padding:10px;
  text-decoration: none;
}

.open-simulacao-link:hover {
  text-decoration: underline;
}

.button-delete {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-delete:hover {
  background-color: #c82333;
}
