.pesquisar-ativo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .pesquisar-ativo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 600px;
    gap:10px;
  }
  
  .pesquisar-ativo-input-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .pesquisar-ativo-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .pesquisar-ativo-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left:10px;
  }
  
  .pesquisar-ativo-button:hover {
    background-color: #f0f0f0;
  }
  
  .pesquisar-ativo-result {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .pesquisar-ativo-info {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  
  @media (max-width: 1024px) and (orientation: landscape) {
    .pesquisar-ativo-container {
      padding: 30px; /* Aumenta o padding para mais conforto */
    }
  
    .pesquisar-ativo-form {
      min-width: auto; /* Ajusta a largura para se adaptar melhor em telas pequenas */
      width: 100%; /* Garante que ocupe a largura total disponível */
      gap: 15px;
    }
  
    .pesquisar-ativo-input {
      padding: 15px; /* Aumenta o padding do input para maior área de toque */
      font-size: 18px; /* Tamanho da fonte levemente maior para leitura */
    }
  
    .pesquisar-ativo-button {
      padding: 15px; /* Aumenta o padding do botão para maior conforto */
    }
  }
  