.selecionar-ativos-automatica-container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .grafico-setores {
    flex: 1;
    margin-left: 20px;
  }
  
  .lista-ativos {
    margin-top: 20px;
  }
  
  .ativo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .peso {
    display: flex;
    align-items: center;
  }
  
  .peso span {
    margin-right: 10px;
    cursor: pointer;
  }
  
  input[type="number"] {
    width: 60px;
    margin-right: 10px;
  }
  
  input[type="range"] {
    margin-right: 10px;
    flex: 1;
  }
  
  .remover-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .enviar-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  /* Media query para telas pequenas em modo paisagem */
@media (max-width: 1024px) and (orientation: landscape) {
  .selecionar-ativos-automatica-container {
    width: 100%;
    padding:1em;
  }
  
  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grafico-setores {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .lista-ativos {
    margin-top: 20px;
    text-align: center;
  }
  
  .ativo-item {
    flex-direction: column; /* Organiza cada item em uma coluna para economizar espaço */
    align-items: center;
  }

  .peso {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
  }

  .peso input[type="number"] {
    width: 60px; /* Mantém o campo numérico compacto */
    text-align: center;
  }

  .peso input[type="range"] {
    width: 80%; /* Ajusta a barra de rolagem para a largura do container */
    margin: 5px 0;
  }

  .remover-button, .enviar-button {
    width: 100%;
    margin-top: 10px;
    padding: 15px; /* Facilita o toque */
  }

}
