.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* adjust the height to your needs */
  padding: 20px;
  width: 100%; /* take up full width */
}



.line-chart-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%; /* take up full width */
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.compact-controls {
  display: flex;
  align-items: center;
  gap: 12px; /* Sets the gap between the elements */
}


.compact-controls button,
.compact-controls input[type="number"] {
  width: 150px; /* Adjust the width to match the button size */
}

.compact-controls input[type="number"] {
  padding: 10px; /* Match the padding for visual consistency */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.controls button{
  margin: 10px;
  background-color: #4CAF50; /* change button color to green */
  color: #fff; /* change button text color to white */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link{
  margin: 10px;
  background-color: #4CAF50; /* change button color to green */
  color: #fff; /* change button text color to white */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}



.controls button:hover {
  background-color: #3e8e41; /* change button hover color to darker green */
}

.chart-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.line-chart {
  width: 90vw; /* adjust the width to your needs */
  height: auto; /* adjust the height to your needs */
}

.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.charts-info-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pie-chart-container {
  width: 40%; /* adjust the width to your needs */
  height: 300px; /* adjust the height to your needs */
}

.info-table {
  width: 50%; /* adjust the width to your needs */
  padding: 20px;
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th, .info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.performance-indicators {
  padding: 20px;
}