.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* adjust the height to your needs */
  padding: 20px;
  width: 100%; /* take up full width */
}



.line-chart-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%; /* take up full width */
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.compact-controls {
  display: flex;
  align-items: center;
  gap: 12px; /* Sets the gap between the elements */
}


.compact-controls button,
.compact-controls input[type="number"] {
  width: 150px; /* Adjust the width to match the button size */
}

.compact-controls input[type="number"] {
  padding: 10px; /* Match the padding for visual consistency */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.controls button{
  margin: 10px;
  background-color: #4CAF50; /* change button color to green */
  color: #fff; /* change button text color to white */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link{
  margin: 10px;
  background-color: #4CAF50; /* change button color to green */
  color: #fff; /* change button text color to white */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}



.controls button:hover {
  background-color: #3e8e41; /* change button hover color to darker green */
}

.chart-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.line-chart {
  width: 90vw; /* adjust the width to your needs */
  height: auto; /* adjust the height to your needs */
}

.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.charts-info-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pie-chart-container {
  width: 40%; /* adjust the width to your needs */
  height: 300px; /* adjust the height to your needs */
}

.info-table {
  width: 50%; /* adjust the width to your needs */
  padding: 20px;
}

.info-table table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th, .info-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.performance-indicators {
  padding: 20px;
}

.titulo-simulacao {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

@media (max-width: 1024px) {
  .dashboard {
    padding: 10px; /* Reduz o padding para telas menores */
  }

  .line-chart-section {
    padding: 10px; /* Reduz o padding */
    width: 100%; /* Garante que ocupe toda a largura */
  }

  .controls {
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Reduz o padding para dispositivos móveis */
  }

  .compact-controls {
    flex-direction: column;
    gap: 8px; /* Reduz o espaçamento entre os elementos */
  }

  .compact-controls button,
  .compact-controls input[type="number"] {
    width: 100%; /* Expande para a largura total em telas pequenas */
  }

  .chart-container {
    padding: 10px; /* Ajusta o padding */
    flex-direction: column;
  }

  .line-chart {
    width: 100%; /* Usa toda a largura da tela */
    height: auto; /* Ajusta a altura automaticamente */
  }

  .bottom-section {
    padding: 10px; /* Ajusta o padding para economizar espaço */
  }

  .charts-info-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .pie-chart-container {
    width: 100%; /* Ajusta a largura para caber na tela */
    height: auto; /* Altura ajustada automaticamente */
    margin-bottom: 20px; /* Espaço entre o gráfico e a tabela */
  }

  .info-table {
    width: 100%; /* Ajusta a tabela para a largura total */
    padding: 10px;
  }

  .info-table th, .info-table td {
    padding: 8px; /* Reduz o padding das células */
  }

  .performance-indicators {
    padding: 10px;
  }

  .titulo-simulacao {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para telas menores */
    margin-bottom: 10px;
  }
}
